.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.center {
  justify-content: center;
}

.dropdown-row{
  margin-left: 150px;
}

.mb {
  margin-bottom: 3rem;
  
}

.card-row{
  display: flex;
  justify-content: center;
}
