.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.center {
  justify-content: center;
}

.mb {
  margin-bottom: 3rem;
}
