.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 31px;
}

.tab {
  width: 98px;
  height: 100%;
  text-align: center;
  border-radius: 2px;
  border: solid 1px #d6d6d6;
}

.tab > span {
  display: inline-flex;
  height: 100%;
  color: #606060;
  align-items: center;
}
.tab:hover {
  border: solid 1px #1797ff;
  cursor: pointer;
}

.active {
  color: #1797ff;
  border: solid 1px #1797ff;
}
